<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifest Comparison</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style type="text/css">
        table, th, td {
            border: 1px solid rgb(177, 177, 177);

        }
    </style>

</head>
<body class="bg-gray-100">

<div class="container mx-auto my-10">
    <form action="/" id="testform" name="test" method="POST" enctype="multipart/form-data" class="bg-white p-6 max-w-lg mx-auto rounded-xl shadow-md">
        <!-- <div class="mb-4">
            <label for="csv1">SG Manifest:</label>
            <br>
            <input type="file" name="sgmanifest" multiple class="w-full px-3 py-2 border rounded-xl focus:outline:none" onchange="displayContents(this, 'csv1')">
            <br>
            <textarea id = "csv1" name="csv1" rows="10" cols="50">{{ request.form["csv1"] }}</textarea>
            <br><br>
            <label for="csv2">Client Manifest:</label>
            <br>
            <input type="file" name="clientmanifest" multiple class="w-full px-3 py-2 border rounded-xl focus:outline:none" onchange="displayContents(this, 'csv2')">
            <br>
            <textarea id="csv2" name="csv2" rows="10" cols="50">{{ request.form["csv2"] }}</textarea>
        </div>
    -->

        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2">Upload Manifests (Drag & Drop):</label>
            <input type="file" name="manifests" multiple class="w-full px-3 py-2 border rounded-xl focus:outline-none">
        </div>

        <!-- SEparated text are fields for testing -->
        <div class="mb-4">
            <label for="csv1">SG Manifest:</label>
            <br>
            <textarea id = "csv1" name="csv1" rows="10" cols="50">{{ request.form["csv1"] }}</textarea>
            <br><br>
            <label for="csv2">Client Manifest:</label>
            <br>
            <textarea id="csv2" name="csv2" rows="10" cols="50">{{ request.form["csv2"] }}</textarea>
        </div>

        <div class="mb-4">
            <label for="columns">Columns to analyze (comma-separated):</label>
            <br>
            <input type="radio" id="rowLevel" name="analysisLevel" value="rowLevel" />
            <label for="rowLevel">Row Level</label>
            <input type="radio" id="seatLevel" name="analysisLevel" value="seatLevel" checked="checked"/>
            <label for="seatLevel">Seat Level</label>
            <br>
        </div>

        <div class="mb-4">
            <label for="rules" class="block text-gray-700 font-bold mb-2">Rules:</label>
            <textarea id="rules" name="rules" rows="10" class="w-full px-3 py-2 text-gray-700 border rounded-xl focus:outline-none">{{ request.form["rules"] }}</textarea>
        </div>

        <div class="mt-4 flex justify-center space-x-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-xl focus:outline-none">Run Comparison</button>
            <a href="/download/differences" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-xl focus:outline-none">Download Differences</a>
            <a href="/download/rules" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-xl focus:outline-none">Download Rules</a>
        </div>
    </form>

    


    <!-- Display the comparison results -->
    <div class="mt-10">
        <!-- {% for difference in differences %}
        <p>{{ difference }}</p>
        {% endfor %}
        
        <div style=""><p>{{ differences | safe }}</p></div>
        <div><p>{{ differences | safe }}</p></div>
        -->

        <div style="width: 100%; display: table; margin:auto; width:50%; padding:10px;">
            <div style="display: table-row;">
                <div style="width:50%; display: table-cell;">
                    Missing from client manifest
                    <p>Potentially remove from map</p>
                </div>
                <div style="width:50%; display: table-cell;">
                    Missing from seatgeek manifest
                    <p>Potentially add to map</p>
                </div>
            </div>
            <div style="display: table-row;">
                <div style="width:50%; display: table-cell;">{{ differences_1 | safe }}</div>
                <div style="display: table-cell;">{{ differences_2 | safe }}</div>
            </div>
        </div>
    </div>
    
</div>

<!-- 
<script>
    function displayContents(input, textareaId) {
        const reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById(textareaId).value = e.target.result;
        };
        reader.readAsText(input.files[0]);
    }
</script>
--> 

<script>
    document.querySelector('form').addEventListener('change', function (event) {
        
        const input = document.querySelector('input[type="file"]');
        const files = input.files;
        if (files.length >= 2) {
            
            readAndDisplayCSV(files[0], 'csv2');
            readAndDisplayCSV(files[1], 'csv1');
        }
    });

    function readAndDisplayCSV(file, textareaId) {
        const reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById(textareaId).value = e.target.result;
        };
        reader.readAsText(file);
    }
</script>

</body>
</html>
